/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

/* BACKGROUND */

.header-bg {
  height: 120px;
  background-color: #229A88;
}

.body-bg {
  height: calc(100vh - 120px);
  background-color: #D5DBD6;
}

/* WHOLE APP */

.app-container {
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

/* SIDE BAR CHATS  */

.side-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-color: white;
}

/* SIDE HEADER */

.side-header {
  min-height: 60px;
  min-width: 330px;
  background-color: #EAEAEA;
  display: flex;
  font-weight: 500;
  align-items: center;
}

.side-header .profile-picture img {
  width: 60px;
  border-radius: 50px;
  padding: 5px;
}

.side-header .user-name {
  width: calc(100% - 155px);
}

.side-header .features-icons i {
  margin-left: 10px;
  color: #B1B1B1;
  font-size: 1.2em;
  cursor: pointer;
}

/* NOTIFICATIONS BLOCK */

.notifications {
  min-height: 70px;
  background-color: #76DCFF;
  display: flex;
  padding: 10px;
  align-items: center;
}

.bell {
  height: 41px;
  width: 41px;
  border-radius: 50px;
  background-color: #F0FCFF;
  position: relative;
}

.bell > i {
  color: #76DCFF;
  font-size: 1.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bell-message span {
  display: block;
  margin-left: 10px;
}

.bell-message a {
  font-size: .8em;
  color: #447587;
}

/* SEARCH BLOCK */

.search {
  min-height: 50px;
  background-color: #FAFAFA;
}

.input-container {
  background-color: white;
  display: flex;
  border: solid 1px #F5F5F5;
  border-radius: 4px;
  margin: 10px;
}

.search-icon  {
  color: #B5B9BB;
  padding: 7px;
}

.search-input input {
  border: none;
  width: 300px;
  overflow: hidden;
  min-height: 30px;
}

.search-input ::placeholder {
  color: lightgrey;
  font-size: .9em;
}

/* ALL CHATS */

.chats-container {
  overflow: scroll;
  height: 100%;
}

/* SINGLE CHAT */

.single-chat {
  height: 70px;
  display: flex;
  padding-top: 4px;
}

.single-chat:hover, .opened {
  background-color: #E9EBEB;
}

.single-chat .contact-chat .message-preview {
  color: grey;
  font-size: .8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  width: 180px;
  display: block;
  margin-top: 6px;
}

.single-chat .contact-hour {
  width: 95px;
}

.single-chat .contact-hour span {
  color: grey;
  font-size: .6em;
  text-align: right;
  font-weight: lighter;
}


.single-chat img {
  max-width: 55px;
  border-radius: 50px;
  margin: 0 10px 0 10px; ;
}

/* OPEN CHAT */

.openchat-container {
  min-width: 60vw;
  display: flex;
  flex-direction: column;
}

/* current chat header */
.chat-header
,.chat-footer {
  min-height: 60px;
  background-color: #F4EEE9;
  display: flex;
  padding: 5px;
  align-items: center;
}

.chat-header .features-icons {
  min-width: 120px;
  text-align: center;
}

.chat-header i {
  color: #BCBCBC;
  font-size: 1.3em;
  margin: 5px;
}

.chat-header .profile-picture > img {
  width: 50px;
  border-radius: 50px;
  margin: 0 5px;
}

.chat-header .person-name {
  color: grey;
  width: 80%;
}

.chat-header .person-name span:first-child {
  display: block;
  color: black;
}

.person-name span:nth-child(2), .person-name span:nth-child(3) {
  font-size: .8em;
}

/* CURRENT CHAT BODY */

.openchat-container {
  background-color: white;
}

.chat-body {
  min-height: calc(100% - 120px);
  background-image: url("../img/mine.jpg");
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.sent {
  background-color: #CBFBB3;
  align-self: flex-end;
}

.received {
  background-color: white;
  align-self: flex-start;
}

.received, .sent {
  padding: 10px;
  border-radius: 10px;
  min-width: 30%;
  max-width: 40%;
  margin: 30px;
  position: relative;
}

.sent .message-hour, .received .message-hour {
  display: block;
  font-size: .7em;
  color: #B5B9BB;
  text-align: right;
}

/* DROP DOWN MENU */

.received .arrow, .sent .arrow {
  visibility: hidden;
  font-size: 1em;
  margin: 0 2px;
}

.received:hover .arrow , .sent:hover .arrow {
  cursor: pointer;
  visibility: visible;
  font-size: 1.1em;
  margin: 0 2px;
  color: grey;

}

.drop-down {
  background-color: white;
  display: none;
  position: absolute;
  right: 0px;
  top: 105%;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
}

.drop-down span {
  font-size: .8em;
  cursor: pointer;
}

.drop-downopen {
  display: inline-block;
}

/* CHAT FOOTER */

.chat-footer {
  justify-content: space-around;
}

.chat-footer input {
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.chat-footer ::placeholder {
  color: grey;
  font-weight: lighter;
  padding: 5px;
  font-size: .8em;
}

.chat-footer i {
  color: #6C7678;
  font-size: 1.4em;
  cursor: pointer;
}

/* MEDIA QUERIES */

/* Extra small devices (less than 576px) */
@media all and (max-width: 576px) {

  .side-header .profile-picture img {
    width: 60px;
    border-radius: 50px;
    padding: 5px;
  }

  .chat-footer input {
    width: 60%;
  }

  .single-chat  img {
    max-width: 30px;
  }

  .side-container {
    max-width: 40vw;
  }

  .notifications {
    display: none;
  }

}

./* Small devices (landscape phones, 576px and up) */
@media all and (min-width: 576px) {

  .side-header {
    padding: 5px;
  }

  .header-bg {
    height: 300px;
  }

  .main-bg {
    display: none;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media all and (max-width: 900px) {

  .openchat-container {
    min-width: 55vw;
  }

  .side-container {
    max-width: 40vw;
  }

  .person-name span:nth-child(2) {
    display: none;
  }

 }
