/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .8em */

/* DEBUG */

img {
  max-width: 50%;
  border-radius: 50px;
}

/* BACKGROUND */

.main-bg .header-bg {
  height: 100px;
  background-color: #229A88;
}

.main-bg .body-bg {
  height: calc(100vh - 100px);
  background-color: #D5DBD6;
}

/* WHOLE APP */

.app-container {
  background-color: salmon;
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;
}

/* SIDE BAR CHATS  */

.side-container {
  background-color: green;
  min-width: 330px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);

}

/* side header */
.side-header {
  min-height: 50px;
  min-width: 330px;
  background-color: pink;
  border: solid 1px black;
  display: flex;

}

/* DEBUG */
.side-header div {
  background-color: red;
  border: solid 1px black;
  width: 100%;
}

/* notifications block */
.notifications {
  min-height: 50px;
  background-color: pink;
  border: solid 1px black;
  display: flex;
}

/* DEBUG */
.notifications div {
  background-color: red;
  border: solid 1px black;
  width: 100%;
}


/* search block */
.search {
  min-height: 30px;
  background-color: pink;
  border: solid 1px black;
  display: flex;
}

/* DEBUG */

.search div {
  background-color: lightblue;
  border: solid 1px black;
  width: 100%;
}

/* all chats */
.chats-container {
  background-color: red;
  border: solid 1px black;
  overflow: scroll;
}

/* each chat */

.single-chat {
  height: 70px;
  background-color: salmon;
  border: solid 1px black;
  display: flex;

}

.single-chat div {
  background-color: lightgreen;
  border: solid 1px black;
  width: 100%;
  height: 70px;
}

/* OPEN CHAT */

.openchat-container {
  background-color: blue;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  /* justify-content:  */


}

/* current chat header */
.chat-header
,.chat-footer {
  min-height: 50px;
  background-color: grey;
  display: flex;
}

/* DEBUG */
.chat-header div {
  background-color: lightgreen;
  border: solid 1px black;
  width: 100%;
  height: 50px;

}

.chat-header .profile-picture > img {
  width: 30%;
}

/* current chat body */

.chat-body {
  min-height: calc(100% - 100px);
  /* background-color: yellow; */
  background-image: url("../img/mine.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;


}

.

/* current chat footer */

/* DEBUG */

.chat-footer > div {
  background-color: lightgreen;
  border: solid 1px black;
  width: 100%;
  height: 50px;

}
