<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp</title>
  </head>
  <body>

    <!-- BACKGROUND -->
    <div class="main-bg">

      <div class="header-bg"></div>
      <div class="body-bg"></div>

    </div>

    <!-- WHOLE APP -->
    <div id="app" class="app-container">

      <!-- SIDE BAR CHATS -->
      <div class="side-container">

        <!-- side header -->
        <div class="side-header">

          <div class="profile-picture">
            <img src="img/avatar_io.jpg" alt="User profile picture">
          </div>

          <div class="user-name">
            <span>Nome utente</span>
          </div>

          <div class="features-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>
        <!-- notifications block -->
        <div class="notifications">

          <div class="bell">
            <i class="fas fa-bell-slash"></i>
          </div>

          <div class="bell-message">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <span><a href="#">Attiva notifiche desktop</a></span>
          </div>

        </div>
        <!-- search block -->
        <div class="search">

          <div class="search-bothcontainer">

            <div class="search-icon">
              <i class="fas fa-search"></i>
            </div>

            <div class="search-input">
              <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
            </div>

          </div>

        </div>
        <!-- all chats -->
        <div class="chats-container">
          <!-- single chat -->
          <div v-for="(item, index) in contactsList" class="single-chat" @click="openChat(index)" :class="(index == indexChat ? 'opened' : '')">

            <div class="contact-picture">
              <img v-bind:src="contactsList[index].contactPicture">
            </div>

            <div class="contact-name">
              <span>{{contactsList[index].name}}</span>
            </div>

            <div class="contact-message">
              <!-- <span v-for="(item, index) in contactsList[index].allMessages">{{item.message}} -->
              <!-- </span> -->

            </div>

            <div class="contact-hour">
              <!-- <span v-for="item in contactsList[index].allMessages">{{item.hour[0]}} -->
              <!-- </span> -->
            </div>

          </div>

        </div>

      </div>

      <!-- OPEN CHAT -->
      <div class="openchat-container">

        <!-- current chat header -->
        <div class="chat-header">

          <div class="profile-picture">
            <img v-bind:src="contactsList[indexChat].contactPicture" alt="Contact profile picture">
          </div>

          <div class="person-name">
            <span>{{contactsList[indexChat].name}}</span>
            <span>Ultimo accesso oggi</span>
            <span>20 11 2020 12:01:32</span>
          </div>

          <div class="features-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- current chat body -->
        <div class="chat-body">

          <span v-for="item in contactsList[indexChat].allMessages" v-bind:class="(item.origin)">

            <span>{{item.message}}</span>
            <span>{{item.hour}}</span>

          </span>

        </div>

        <!-- chat footer -->
        <div class="chat-footer">

          <div class="emoji">
            <i class="far fa-smile"></i>
          </div>

          <input v-model="inputMessage" type="text" placeholder="Scrivi un messaggio" v-on:keyup.enter="sendMessage(indexChat)">

          <div class="audio" @click="sendMessage(indexChat)" >
            <i class="fas fa-microphone"></i>
          </div>


        </div>

      </div>

    </div>

    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
